@import 'sass/colors.scss';

.auth-container{
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}